<footer class="footer">
  <div class="footer-container">
    <div class="container">
      <div class="footer-info">
        <h2 class="section__tittle footer-info__tittle">
          - get in touch with us -
        </h2>
        <p class="footer-info__text">
          Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor
          amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus
          porttitor vollisky inceptos mollisestor.
        </p>

        <div class="footer-info__icons">
          <img src="/adaptive-hw/dist/img/net-1.png" alt="" />
          <img src="/adaptive-hw/dist/img/net-2.png" alt="" />
          <img src="/adaptive-hw/dist/img/net-3.png" alt="" />
          <img src="/adaptive-hw/dist/img/net-4.png" alt="" />
          <img src="/adaptive-hw/dist/img/net-5.png" alt="" />
        </div>

        <div class="footer-info__contacts">
          <p class="footer-info__contacts__text">
            Moonshine St. 14-05 Light City / T. +00 (123) 456 78 90 /
            first.last@email.com
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
