<header class="header">
  <div class="container">
    <nav class="header-nav">
      <svg
        class="burger-icon first-icon"
        xmlns="http://www.w3.org/2000/svg"
        width="44"
        height="37"
        viewBox="0 0 44 37"
        fill="black"
      >
        <g clip-path="url(#clip0_22_47)">
          <rect width="44" height="37" fill="black" />
          <rect x="13" y="13" width="17" height="2" fill="white" />
          <rect x="13" y="17" width="17" height="2" fill="white" />
          <rect x="13" y="21" width="17" height="2" fill="white" />
        </g>
        <defs>
          <clipPath id="clip0_22_47">
            <rect width="44" height="37" fill="black" />
          </clipPath>
        </defs>
      </svg>
      <img
        class="burger-icon second-icon"
        src="/adaptive-hw/dist/img/menu-button (1).svg"
        alt=""
      />
      <ul class="burger-nav__list">
        <li class="burger-nav__item">
          <a href="#" class="burger-nav__link">Home</a>
        </li>
        <li class="burger-nav__item">
          <a href="#" class="burger-nav__link">About Us</a>
        </li>
        <li class="burger-nav__item">
          <a href="#" class="burger-nav__link">Our Journal</a>
        </li>
        <li class="burger-nav__item">
          <a href="#" class="burger-nav__link">Projects</a>
        </li>
        <li class="burger-nav__item">
          <a href="#" class="burger-nav__link">News</a>
        </li>
        <li class="burger-nav__item">
          <a href="#" class="burger-nav__link">Features</a>
        </li>
        <li class="burger-nav__item">
          <a href="#" class="burger-nav__link">Contact</a>
        </li>
      </ul>

      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a href="#" class="header-nav__link">Home</a>
        </li>
        <li class="header-nav__item">
          <a href="#" class="header-nav__link">About Us</a>
        </li>
        <li class="header-nav__item">
          <a href="#" class="header-nav__link">Our Journal</a>
        </li>
        <li class="header-nav__item">
          <a href="#" class="header-nav__link">Projects</a>
        </li>
        <li class="header-nav__item">
          <a href="#" class="header-nav__link">News</a>
        </li>
        <li class="header-nav__item">
          <a href="#" class="header-nav__link">Features</a>
        </li>
        <li class="header-nav__item">
          <a href="#" class="header-nav__link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
