<main>
  <section>
    <div class="container">
      <img
        class="main_photo"
        src="/adaptive-hw/dist/img/intro-img.png"
        alt=""
      />
    </div>
  </section>
  <section>
    <div class="container">
      <h2 class="section_tittle">- our Recent posts</h2>
      <div class="recent-content">
        <div class="recent-card">
          <div class="recent-card__img">
            <img src="/adaptive-hw/dist/img/post-img.png" alt="" />
          </div>
          <div class="recent-card__description">
            <p class="recent-card__description__tittle">
              Aenean Adipiscing Etiam Vestibulum
            </p>
            <p class="recent-card__description__comments">
              Photography, Journal / 9 Comments
            </p>
            <p class="recent-card__description__text">
              Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
              ornare sem lacinia quam venenatis vestibulum.
            </p>
          </div>
        </div>

        <div class="recent-card">
          <div class="recent-card__img">
            <img src="/adaptive-hw/dist/img/post4img.png" alt="" />
          </div>
          <div class="recent-card__description">
            <p class="recent-card__description__tittle">
              Aenean Adipiscing Etiam Vestibulum
            </p>
            <p class="recent-card__description__comments">
              Photography, Journal / 9 Comments
            </p>
            <p class="recent-card__description__text">
              Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
              ornare sem lacinia quam venenatis vestibulum.
            </p>
          </div>
        </div>

        <div class="recent-card">
          <div class="recent-card__img">
            <img src="/adaptive-hw/dist/img/post6img.png" alt="" />
          </div>
          <div class="recent-card__description">
            <p class="recent-card__description__tittle">
              Aenean Adipiscing Etiam Vestibulum
            </p>
            <p class="recent-card__description__comments">
              Photography, Journal / 9 Comments
            </p>
            <p class="recent-card__description__text">
              Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
              ornare sem lacinia quam venenatis vestibulum.
            </p>
          </div>
        </div>

        <div class="recent-card">
          <div class="recent-card__img">
            <img src="/adaptive-hw/dist/img/post1img.png" alt="" />
          </div>
          <div class="recent-card__description">
            <p class="recent-card__description__tittle">
              Aenean Adipiscing Etiam Vestibulum
            </p>
            <p class="recent-card__description__comments">
              Photography, Journal / 9 Comments
            </p>
            <p class="recent-card__description__text">
              Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque
              ornare sem lacinia quam venenatis vestibulum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="instagram_container">
      <div class="container">
        <div class="instagram-tittles">
          <h2 class="section__tittle instagram-tittles__tittle">
            - Latest Instagram Shots
          </h2>
          <a class="instagram-tittles__link" href="#"
            >go to our instagram page -</a
          >
        </div>
        <div class="instagram-photos">
          <div class="instagram-photos__first">
            <img src="/adaptive-hw/dist/img/post-1.png" alt="" />
          </div>
          <div class="instagram-photos__second">
            <img src="/adaptive-hw/dist/img/post-2.png" alt="" />
          </div>
          <div class="instagram-photos__third">
            <img src="/adaptive-hw/dist/img/post-3.png" alt="" />
          </div>
          <div class="instagram-photos__fourth">
            <img src=" /adaptive-hw/dist/img/post-4.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
