.instagram_container {
  background-color: $background;
  @media (max-width: 768px) {
    background-color: white;
  }
}

.instagram-tittles {
  display: flex;
  justify-content: space-between;

  &__tittle {
    margin-top: 4.7rem;
    margin-bottom: 2.4rem;
    @media (max-width: 768px) {
      font-size: 1.4rem;
      margin-top: 0;
    }
  }

  &__link {
    color: $color-grey-dark;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.2rem;
    text-transform: uppercase;
    margin-top: 4.7rem;
    margin-bottom: 2.4rem;
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.instagram-photos {
  display: grid;
  grid-template-columns: repeat(4, minmax(285px, 1fr));
  gap: 1rem;
  margin-bottom: 5rem;

  @media (max-width: 675px) {
    display: flex;
    justify-content: center;
  }

  &__fourth {
    width: 100%;
    @media (max-width: 1200px) {
      display: none;
    }
  }

  &__third {
    width: 100%;

    @media (max-width: 970px) {
      display: none;
    }
  }

  &__second {
    width: 100%;
    flex-grow: 1;

    @media (max-width: 970px) {
      display: flex;
      justify-content: center;
    }

    @media (max-width: 645px) {
      display: none;
    }
  }

  &__first {
    width: 94%;
  }
}
