.header-nav {
  display: flex;
  justify-content: center;
  position: relative;

  &__list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 4rem;
    margin-bottom: 5rem;

    @media (max-width: 1200px) {
      width: 80%;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
  &__link {
    color: $color-grey-dark;
    font-size: 1.1rem;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    transition: color 0.3s ease;

    &:hover {
      color: $color-accent;
    }
  }
}

.burger-nav {
  &__list {
    position: absolute;
    right: 0;
    top: 5rem;
    display: none;
  }
  &__item {
    display: flex;
    align-items: center;
    width: 16rem;
    background-color: rgb(240, 240, 240);
    height: 2.6rem;
    &:hover {
      background-color: #e0e0e0;
    }
  }

  &__link {
    margin-left: 1rem;
    color: $color-grey-dark;
    font-size: 1.1rem;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    transition: color 0.3s ease;

    &:hover {
      color: $color-accent;
    }
  }
}
.burger-icon {
  position: absolute;
  top: 1.3em;
  right: 0;
  display: none;

  &:hover {
    cursor: pointer;
  }
}

.first-icon {
  @media (max-width: 767px) {
    display: block;
  }
}
.active {
  display: block;
}
